{% extends 'food/base.html' %}
{% load static %}

{% block title %} Burgers {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for burger in burgers %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ burger.imageb.url }}" class="card-img-top" alt="{{ burger.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ burger.name }}</h5>
                    <p class="card-text">{{ burger.description }}</p>

                    <!-- Size Selection -->
                    <div class="form-group">
                        <label>Select Size:</label><br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="size{{ burger.id }}" id="medium{{ burger.id }}" value="medium" checked>
                            <label class="form-check-label" for="medium{{ burger.id }}">Medium - &pound;{{ burger.price_m }}</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="size{{ burger.id }}" id="large{{ burger.id }}" value="large">
                            <label class="form-check-label" for="large{{ burger.id }}">Large - &pound;{{ burger.price_l }}</label>
                        </div>
                    </div>

                    <!-- Add to Cart Button -->
                    <button class="btn btn-primary btn-sm add-to-cart" data-burger-id="{{ burger.id }}">
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
