{% extends 'food/base.html' %}

{% block title %} Burgers {% endblock %}

{% block content %}

{% for burger in burgers %}
<div class="card" style="width: 18rem;">
    <img src="{{ burger.imageb.url }}" class="card-img-top" alt="{{ burger.name }}">
    <div class="card-body">
        <h5 class="card-title">{{ burger.name }}</h5>
        <p class="card-text">{{ burger.description }}</p>
        <p class="card-text">Price (Medium): ${{ burger.price_m }}</p>
        <p class="card-text">Price (Large): ${{ burger.price_l }}</p>
    </div>
</div>
{% endfor %}

{% endblock %}
