{% extends 'food/base.html' %}
{% load static %}

{% block title %}Order{% endblock %}

{% block content %}
<style>
    body {
        background: #4becbc;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 text-center">
            <h2>Order</h2>
            <form action="{% url 'food:submit_order' %}" method="POST" id="order-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4" id="name">
                        <h3>Name</h3>
                    </div>
                    <div class="col-md-4" id="size">
                        <h3>Size</h3>
                    </div>
                    <div class="col-md-4" id="price">
                        <h3>Price (&pound;)</h3>
                    </div>
                </div>
                <!-- Additional fields for name, size, and price if needed -->
                <!-- For now, I'm assuming they are already displayed here -->

                <div class="col-md-4">
                    <h2>Message</h2>
                    <textarea name="note" id="message" cols="30" rows="10"></textarea>
                </div>
                <div class="col-md-4">
                    <h2>Address</h2>
                    <textarea name="address" id="address" cols="30" rows="5" required></textarea>
                </div>
                <h2 id="total">Total &pound;<span id="order-total">0</span></h2>

                <!-- Ensure the button type is "submit" to submit the form -->
                <button type="submit" class="btn-success" id="submit-button">Submit Order</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
