{% extends 'food/base.html' %}
{% load static %}

{% block title %}Order{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 text-center">
            <h2>Order</h2>
            <div class="row">
                <div class="col-md-4" id="name">
                    <h3>Name</h3>
                </div>
                <div class="col-md-4" id="size">
                    <h3>Size</h3>
                </div>
                <div class="col-md-4" id="price">
                    <h3>Price (&pound;)</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Message</h2>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <button type="submit" class="btn-success">Submit Order</button>
        </div>
        <h2 id="total">Total &pound;<span id="order-total">0</span></h2>
    </div>
</div>

{% endblock %}
