{% extends 'food/base.html' %}

{% block title %}Order{% endblock %}

{% block content %}

<div class="container-fuid">
    <div class="row">
        <div class="col-md-8 text-center">
            <h2>Order</h2>
            <div class="row">
                <div class="col-md-4">
                    <h3>Name</h3>

                </div>
                <div class="col-md-4">
                    <h3>Size</h3>

                </div>
                <div class="col-md-4">
                    <h3>Price</h3>

                </div>


            </div>

        </div>
        <div class="col-md-4">
            <h2>Message</h2>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <button type="submit" class="btn-suscess">Submit Order</button>

        </div>

    </div>
</div>
{% endblock %}
