{% extends 'food/base.html' %}
{% load static %}

{% block title %} Pizzas {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for pizza in pizzas %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ pizza.image.url }}" class="card-img-top" alt="{{ pizza.name }}">
                <div class="card-body">
                    <h5 class="card-title" id="piz{{ pizza.id }}">{{ pizza.name }}</h5>
                    <p class="card-text">{{ pizza.description }}</p>

                    <!-- Size Selection -->
                    <div class="form-group">
                        <label>Select Size:</label><br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="size{{ pizza.id }}" id="medium{{ pizza.id }}" value="M" checked>
                            <label class="form-check-label" for="medium{{ pizza.id }}">M - &pound;{{ pizza.price_m }}</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="size{{ pizza.id }}" id="large{{ pizza.id }}" value="L">
                            <label class="form-check-label" for="large{{ pizza.id }}">L - &pound;{{ pizza.price_l }}</label>
                        </div>
                    </div>

                    <!-- Add to Cart Button -->
                    <button class="btn btn-primary btn-sm add-to-cart"
                            data-type="pizza"
                            data-id="{{ pizza.id }}"
                            data-name="{{ pizza.name }}"
                            data-price="{{ pizza.price }}"
                            data-price-m="{{ pizza.price_m }}"
                            data-price-l="{{ pizza.price_l }}"
                            data-image="{{ pizza.image.url }}">
                        Add to Cart
                    </button>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-4 orders">
        <div class="bg-info p-4 rounded">
            <div class="col-md-12">
                <h2>Order List</h2>
                <ul id="order-list"></ul>
                <h2>Total &pound;<span id="order-total">0</span></h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}
